/*
#    /$$$$$$                        /$$
#   /$$__  $$                      | $$
#  | $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$$
#  | $$$$     /$$__  $$| $$__  $$|_  $$_/   /$$_____/
#  | $$_/    | $$  \ $$| $$  \ $$  | $$    |  $$$$$$
#  | $$      | $$  | $$| $$  | $$  | $$ /$$ \____  $$
#  | $$      |  $$$$$$/| $$  | $$  |  $$$$/ /$$$$$$$/
#  |__/       \______/ |__/  |__/   \___/  |_______/
#
#
#
*/

@font-face {
  font-family: 'Dosis-Regular';
  src: url('Dosis-Regular.eot?#iefix') format('embedded-opentype'),  url('Dosis-Regular.woff') format('woff'), url('Dosis-Regular.ttf')  format('truetype'), url('Dosis-Regular.svg#Dosis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ff-body{
	font-family: 'Dosis-Regular', Arial, sans-serif;  /*primary paragraph text font*/
}

.ff-header{
	font-family: 'Alegreya Sans SC', Arial, sans-serif;  /*secondary header font*/
}

/*
#                                                               /$$
#                                                              | $$
#    /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$
#   /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$ /$$__  $$ |____  $$| $$
#  | $$  \ $$| $$$$$$$$| $$  \ $$| $$$$$$$$| $$  \__/  /$$$$$$$| $$
#  | $$  | $$| $$_____/| $$  | $$| $$_____/| $$       /$$__  $$| $$
#  |  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$| $$      |  $$$$$$$| $$
#   \____  $$ \_______/|__/  |__/ \_______/|__/       \_______/|__/
#   /$$  \ $$
#  |  $$$$$$/
#   \______/
*/
* {box-sizing: border-box; }

body { 
	font-size: 16px;
	background-image: url(images/general/asanoha.png); /*background star image*/
}

/*about me footer*/
figure{ 
  	color: dimgrey;
  	font-size: 14px;
  	padding: .5rem 0;
}

figcaption{
	text-align: center;
}

header{
	font-size: 28px;
}

h2{
	font-size: 34px;
	color: dimgrey;
	text-align: right;
	margin: 30px;
}

h2 .ff-body{
	font-size: 20px;
}

main{
}

/*nav styles*/
nav{
	background-color: lightsteelblue;
	text-align: center;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul li{
	display: inline-block;
	margin: 1rem;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	transition: color 0.6s ease;
	color: dimgrey;

}

/*──────────────────────────────────────────────────────────────────────────────────────────────────────────
─██████████████─██████─────────██████████████─██████████████─██████████████─██████████████─██████████████─
─██░░░░░░░░░░██─██░░██─────────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─
─██░░██████████─██░░██─────────██░░██████░░██─██░░██████████─██░░██████████─██░░██████████─██░░██████████─
─██░░██─────────██░░██─────────██░░██──██░░██─██░░██─────────██░░██─────────██░░██─────────██░░██─────────
─██░░██─────────██░░██─────────██░░██████░░██─██░░██████████─██░░██████████─██░░██████████─██░░██████████─
─██░░██─────────██░░██─────────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─
─██░░██─────────██░░██─────────██░░██████░░██─██████████░░██─██████████░░██─██░░██████████─██████████░░██─
─██░░██─────────██░░██─────────██░░██──██░░██─────────██░░██─────────██░░██─██░░██─────────────────██░░██─
─██░░██████████─██░░██████████─██░░██──██░░██─██████████░░██─██████████░░██─██░░██████████─██████████░░██─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─
─██████████████─██████████████─██████──██████─██████████████─██████████████─██████████████─██████████████─
──────────────────────────────────────────────────────────────────────────────────────────────────────────*/

/*.aboutcol{
	width: 100px;
	height: 100px;
}*/

.backgroundbox{
	width: 1500px;
	height: 600px;
	position: absolute;
	top: 400px;
	background-color: lightsteelblue;
	z-index: -10;
}

/*about paragraphs*/
.bio-text{
	color: dimgray;
	background-color: lightsteelblue;
	margin: auto;
	text-align: center;
	padding: 2rem;
	max-width: 1000px;
	max-height: 500px;
}

/*column*/
.col{
	float: left;
	width: 33%;
	text-align: center;
}

/*bounding contaxt infor*/
/*.contactinfo{
	font-size: 16px;
	max-width: 1100px;
	max-height: 437px;
	margin: 60px;
	margin-top: auto;
	margin-bottom: auto;
}
*/
.contact-text{
	display: inline-block;
	height: 450px;
	width: 500px;
	float: right;
	padding-right: 30%;
	padding-top: 125px;
}

.homeheader{
	height:600px;
	background-color: lightsteelblue;
}

/*resume content categories*/
.emblem{
	overflow: auto;
	float: left;
  	width: 33.3%;
  	width: calc(100%/3);
  	padding-left: 100px;
  	color: dimgrey;
}

/*about selfie*/
.me {
	width: 300px;
	float: right;
	padding: 30px;
}

/*about footer bounding*/
.myimages-container{
	width: 650px;
	height: 300px;
	margin: auto;
} 

.name{
	padding-right: 40px;
}
/*media page containing box*/
.projects{
	color: dimgrey;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
}

.resume{
	padding: 50px;
}

/*contact footer*/
.socialmedia{
	position: relative;
	max-width: 325px;
	padding-top: 50px;
	margin: auto;
}

.text-contact{
	font-weight: 200;
}

.bannerbox{
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	min-height: 200px;
}

.trad{
	height: 100%
	width: 100%;
}
/*──────────────────────────────────────────
─██████████─████████████───██████████████─
─██░░░░░░██─██░░░░░░░░████─██░░░░░░░░░░██─
─████░░████─██░░████░░░░██─██░░██████████─
───██░░██───██░░██──██░░██─██░░██─────────
───██░░██───██░░██──██░░██─██░░██████████─
───██░░██───██░░██──██░░██─██░░░░░░░░░░██─
───██░░██───██░░██──██░░██─██████████░░██─
───██░░██───██░░██──██░░██─────────██░░██─
─████░░████─██░░████░░░░██─██████████░░██─
─██░░░░░░██─██░░░░░░░░████─██░░░░░░░░░░██─
─██████████─████████████───██████████████─
──────────────────────────────────────────*/
#airplane{
	padding: 6rem;
	padding-bottom: 4rem;
}

/*home*/
#welcome{
	font-size: 28px;
	text-align: left;
	padding-left: 125px;
	padding-top: 25px;
}

#homeselfie{
	margin: auto;
	display: block;
	z-index: 10;
	padding-top: 200px;
}