* {box-sizing: border-box; }

body {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	background-color: whitesmoke;
}

header{
	font-size: 24px;
}

h2{
	color: dimgrey;
	text-align: right;
	padding-right: 50px;
}

/*my image*/
.me {
	float: right;
	padding: 10px;
}

nav{
	color: gray;
	background-color: lightsteelblue;
	text-align: center;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul li{
	display: inline-block;
	margin: 1rem;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

main{
	padding: 4rem 0;
}

.col{
	float: left;
	width: 33.3%;
	width: calc(100%/3);
}

.bio-text{
	color: dimgray;
	background-color: lightsteelblue;
	text-align: center;
	padding: 3rem;
}

figure{
  color: dimgrey;
  font-size: 14px;
  padding: .5rem 0;
}

figcaption{
	text-align: center;
}

.myimages-container{
	padding-left: 220px;
}

.socialmedia{
	padding-left: 550px;
}

.contactinfo{
	padding-right: 10%;
	font-size: 16px;
}

#welcome{
	font-size: 28px;
}

#homeselfie{
	margin: auto;
	display: block;
}

.emblem{
	overflow: auto;
	float: left;
  	width: 33.3%;
  	width: calc(100%/3);
  	padding-left: 100px;
  	color: dimgrey;
}
