* {box-sizing: border-box; }

body {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18;
	background-color: whitesmoke;
}

header{
	font-size: 24;
}

nav{
	color: gray;
	background-color: lightsteelblue;
	text-align: center;
}

nav ul{
	list-style: none;
	margin: none;

}

nav ul li{
	display: inline-block;
	margin: 1rem;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

footer{
	display: inline-block;
}

.col{
	float: left;
	width: 33.3%
	width:calc(100%/3);
}

.myimages-container{
	overflow: auto;
}

.bio-text{
	color: dimgray;
	background-color: lightsteelblue;
	text-align: center;
	padding: 3rem;
}